<h2> Your Cart </h2>
<ul>
  <!--done using partials
  <% @cart.line_items.each do |item| %>
  <li> <%= item.product.title %> <br> Quantity: <%= item.quantity %>
  <br> Price: <%= item.price %> </li>
  <% end %>
</ul>
-->
<%= render(cart.line_items) %>


<em> Total: <%= cart.total_price %></em>

<%= button_to 'Check Out', new_order_path, method: :get %>

<%= button_to 'Empty Cart', cart, method: :delete, data: {confirm: "Are you sure?"} %>


<!--
<%= link_to 'Edit', edit_cart_path(@cart) %> |

<%= link_to 'Back', store_path %>
-->
